<h1>Inventory Item Form</h1>

<%= form_for @item do |f| %> 
  <div class="form-group">
    <%=f.label :name, "Item Name" %>
    <%=f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%=f.label :PAR, "PAR" %>
    <%=f.text_field :PAR, class: "form-control" %>
  </div>
  <div class="form-group">
    <%=f.label :current_stock_level, "Current Stock Level" %>
    <%=f.text_field :current_stock_level, class: "form-control" %>
  </div>
  <%= f.submit(:class => "btn btn-info") %>
<% end %> 
